configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "kitty";
    drun-display-format: "{name}";
    display-drun: "";
    display-run: "run";
    display-window: "windows";
    drun-match-fields: "name";
    matching: "fuzzy";
}

@theme "~/.config/rofi/themes/mocha.rasi"
