* {
    font-family: "Google Sans Code NF", monospace;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: #1e1e2e;
    color: #cdd6f4;
    border-bottom: 1px solid #313244;
}

tooltip {
    background: #1e1e2e;
    color: #cdd6f4;
    border: 1px solid #45475a;
    border-radius: 8px;
}

#workspaces {
    background: #181825;
    margin: 5px 0 5px 8px;
    padding: 0 4px;
    border-radius: 10px;
}

#workspaces button {
    color: #585b70;
    padding: 0 7px;
    margin: 3px 2px;
    border-radius: 8px;
}

#workspaces button.active {
    color: #1e1e2e;
    background: #f5c2e7;
}

#workspaces button:hover {
    color: #cdd6f4;
    background: #313244;
}

#window {
    color: #bac2de;
    margin-left: 8px;
}

#clock,
#bluetooth,
#pulseaudio,
#network,
#cpu,
#memory,
#tray {
    background: #181825;
    color: #cdd6f4;
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 10px;
}

/* CENTER */
#clock.time {
    background: #181825;
    color: #cdd6f4;
    margin: 4px 0;
    padding: 0 10px;
    border-radius: 999px;
    min-width: 55px;
}

#pulseaudio {
    color: #f5c2e7;
}

#network {
    color: #94e2d5;
}



#bluetooth {
    color: #89b4fa;
}

#tray {
    margin-right: 8px;
}
